/* .signup {
    align-items: center;
    justify-content: center;
    background: transparent;
    display: flex;
}

.signup > :nth-child(1) {

}

.signup .cardContainer {
    width: 420px;
    max-width: 95%;
    min-width: 320px;
    padding:3rem;
}

.signup .filterList {
    flex-wrap: wrap;
}

.signup .logo {
    margin-bottom: 1rem;
    margin-top: -97px;
    position: relative;
    z-index: 1000;
}

.signup .enterButton {
    margin: 2.25rem 0 0 0;
}

.signup .loginFormError {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    padding: 1rem 0;
    color: red;
    width: 290px;
    font-size: 12px;
}

.signup .unknownEmailMessage {
    padding: 0 1rem;
    line-height: 1.42rem;
    max-width: 480px;
}

.signup .join-dialog {
    padding: 1rem;
}

.signup .bottomLeft {
    bottom: 0;
    left: 0;
    margin-bottom: -10px;
    overflow: hidden;
    position: absolute;
}

.signup .topRight {
    animation: parallax-clouds 60s infinite alternate ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
}

.cancel {
    text-align: center;
    color: black;
    text-decoration: none;
}

.cancel p {
    margin-top: 2rem;
} */

/*New---------------------------------------------------------------------------------------

/* Container */
* {
    font-family: 'Roboto', sans-serif;
  }
  
  .OuterBody{
    padding:5rem 0;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #b31217, #e1231a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #b31217, #e1231a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .container {
      position: relative;
      max-width: 460px;
      width: 100%;
      margin:0 auto;
    }
    .container.active .card:first-child {
      background: #f2f2f2;
      margin: 0 15px;
    }
    .container.active .card:nth-child(2) {
      background: #fafafa;
      margin: 0 10px;
    }
    .container.active .card.alt {
      top: 20px;
      right: 0;
      width: 100%;
      min-width: 100%;
      height: auto;
      border-radius: 5px;
      padding: 60px 0 40px;
      overflow: hidden;
    }
    .container.active .card.alt .toggle {
      position: absolute;
      top: 40px;
      right: -70px;
      box-shadow: none;
      -webkit-transform: scale(10);
      transform: scale(10);
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      transition: transform .3s ease;
      transition: transform .3s ease, -webkit-transform .3s ease;
    }
    .container.active .card.alt .toggle:before {
      content: '';
    }
    .container.active .card.alt .title,
    .container.active .card.alt .input-container,
    .container.active .card.alt .button-container {
      left: 0;
      opacity: 1;
      visibility: visible;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
    .container.active .card.alt .title {
      -webkit-transition-delay: .3s;
              transition-delay: .3s;
    }
    .container.active .card.alt .input-container {
      -webkit-transition-delay: .4s;
              transition-delay: .4s;
    }
    .container.active .card.alt .input-container:nth-child(2) {
      -webkit-transition-delay: .5s;
              transition-delay: .5s;
    }
    .container.active .card.alt .input-container:nth-child(3) {
      -webkit-transition-delay: .6s;
              transition-delay: .6s;
    }
    .container.active .card.alt .button-container {
      -webkit-transition-delay: .7s;
              transition-delay: .7s;
    }
    
    /* Card */
    .card {
      position: relative;
      background: #ffffff;
      border-radius: 5px;
      padding: 60px 0 40px 0;
      box-sizing: border-box;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -webkit-transition: .3s ease;
      transition: .3s ease;
      /* Title */
      /* Inputs */
      /* Button */
      /* Footer */
      /* Alt Card */
    }
    .card:first-child {
      background: #fafafa;
      height: 10px;
      border-radius: 5px 5px 0 0;
      margin: 0 10px;
      padding: 0;
    }
    .card .title {
      position: relative;
      z-index: 1;
      border-left: 5px solid #e1231a;
      margin: 0 0 35px;
      padding: 10px 0 10px 50px;
      color: #e1231a;
      font-size: 32px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .card .input-container {
      position: relative;
      margin: 0 60px 50px;
    }
    .card .input-container input {
      outline: none;
      z-index: 1;
      position: relative;
      background: none;
      width: 100%;
      height: 60px;
      border: 0;
      color: #212121;
      font-size: 24px;
      font-weight: 400;
    }
    .card .input-container input:focus ~ label {
      color: #9d9d9d;
      -webkit-transform: translate(-12%, -50%) scale(0.75);
              transform: translate(-12%, -50%) scale(0.75);
    }
    .card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
      width: 50%;
    }
    .card .input-container input:valid ~ label {
      color: #9d9d9d;
      -webkit-transform: translate(-12%, -50%) scale(0.75);
              transform: translate(-12%, -50%) scale(0.75);
    }
    .card .input-container label {
      position: absolute;
      top: 0;
      left: 0;
      color: #757575;
      font-size: 24px;
      font-weight: 300;
      line-height: 60px;
      -webkit-transition: 0.2s ease;
      transition: 0.2s ease;
    }
    .card .input-container .bar {
      position: absolute;
      left: 0;
      bottom: 0;
      background: #757575;
      width: 100%;
      height: 1px;
    }
    .card .input-container .bar:before, .card .input-container .bar:after {
      content: '';
      position: absolute;
      background: #e1231a;
      width: 0;
      height: 2px;
      -webkit-transition: .2s ease;
      transition: .2s ease;
    }
    .card .input-container .bar:before {
      left: 50%;
    }
    .card .input-container .bar:after {
      right: 50%;
    }
    .card .button-container {
      margin: 0 60px;
      text-align: center;
    }
    .card .button-container button {
      outline: 0;
      cursor: pointer;
      position: relative;
      display: inline-block;
      background: 0;
      width: 240px;
      border: 2px solid #e3e3e3;
      padding: 20px 0;
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      overflow: hidden;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
    .card .button-container button span {
      position: relative;
      z-index: 1;
      color: #ddd;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
    .card .button-container button:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      background: #e1231a;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      margin: -15px 0 0 -15px;
      opacity: 0;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
    .card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
      border-color: #e1231a;
    }
    .card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
      color: #e1231a;
    }
    .card .button-container button:active span, .card .button-container button:focus span {
      color: #ffffff;
    }
    .card .button-container button:active:before, .card .button-container button:focus:before {
      opacity: 1;
      -webkit-transform: scale(10);
      transform: scale(10);
    }
    .card .footer {
      margin: 40px 0 0;
      color: #d3d3d3;
      font-size: 24px;
      font-weight: 300;
      text-align: center;
    }
    .card .footer a {
      color: inherit;
      text-decoration: none;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
    .card .footer a:hover {
      color: #bababa;
    }
    .card.alt {
      position: absolute;
      top: 40px;
      right: -70px;
      z-index: 10;
      width: 140px;
      height: 140px;
      background: none;
      border-radius: 100%;
      box-shadow: none;
      padding: 0;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      /* Toggle */
      /* Title */
      /* Input */
      /* Button */
    }
     .toggle {
      position: relative;
      background: #b31217;
      width: 140px;
      height: 140px;
      border-radius: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      color: #ffffff;
      font-size: 58px;
      line-height: 140px;
      text-align: center;
      cursor: pointer;
    }
    .toggle:before {
      content: '\f040';
      display: inline-block;
      font-family: FontAwesome;
      /* font: normal normal normal 14px/1 FontAwesome; */
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    .card.alt .title,
    .card.alt .input-container,
    .card.alt .button-container {
      left: 100px;
      opacity: 0;
      visibility: hidden;
    }
    .card.alt .title {
      position: relative;
      border-color: #ffffff;
      color: #ffffff;
    }
    .card.alt .title .close {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 60px;
      display: inline;
      color: #ffffff;
      font-size: 58px;
      font-weight: 400;
    }
    .card.alt .title .close:before {
      content: '\00d7';
    }
    .card.alt .input-container input {
      color: #ffffff;
    }
    .card.alt .input-container input:focus ~ label {
      color: #ffffff;
    }
    .card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
      background: #ffffff;
    }
    .card.alt .input-container input:valid ~ label {
      color: #ffffff;
    }
    .card.alt .input-container label {
      color: rgba(255, 255, 255, 0.8);
    }
    .card.alt .input-container .bar {
      background: rgba(255, 255, 255, 0.8);
    }
    .card.alt .button-container button {
      width: 100%;
      background: #ffffff;
      border-color: #ffffff;
    }
    .card.alt .button-container button span {
      color: #e1231a;
    }
    .card.alt .button-container button:hover {
      background: rgba(255, 255, 255, 0.9);
    }
    .card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
      display: none;
    }
    
    /* Keyframes */
    @-webkit-keyframes buttonFadeInUp {
      0% {
        bottom: 30px;
        opacity: 0;
      }
    }
    @keyframes buttonFadeInUp {
      0% {
        bottom: 30px;
        opacity: 0;
      }
    }
  
    /* FAll back ------------------------------------------------ */
    
   
    
    
    .product-viewer_content {
      /* float: left;
      height: 430px;
      margin: auto; */
      /* background: #fff; */
      /* box-shadow: 0 10px 100px rgba(0, 0, 0, 0.2), 0 100px 100px rgba(0, 0, 0, 0.03); */
      /* width: calc( 478px - 60px); */
      /* position: relative;
      overflow: hidden; */
    }
    
    .content-slider {
      /* float: left;
      height: 430px;*/
      margin: auto;
      /* background: #fff; */
      /*width: calc( (478px*3 - 60px) );
      -webkit-transition: -webkit-transform .35s ease;
      transition: -webkit-transform .35s ease;
      transition: transform .35s ease;
      transition: transform .35s ease, -webkit-transform .35s ease; */
    }
    .content-slider .slider-item {
      width: 420px;
      height: 100%;
      margin-left:-2.5rem;
      /* position: relative;
      float: left; */
      text-align: center;
    }
    figure{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    figure img{
        /* padding:1.5rem 0; */
    }
    .content-slider .slider-item figcaption span {
      width: 100%;
      /* float: left; */
      text-align: center;
    }
    .content-slider .slider-item .desc {
      /* padding:1rem; */
      color: #666;
      margin-bottom: 4px;
      font-size: 11px;
      text-transform: uppercase;
    }
    .content-slider .slider-item .desc h3 {
      font-weight: bold;
    }
    .content-slider .slider-item .name {
      font-size: 15px;
      color: #e1231a;
      margin-bottom: 12px;
    }
    .content-slider .slider-item .name h2 {
      padding: 0.5rem 0;
      text-transform: uppercase;
      font-weight: bold;
    }
    .content-slider .slider-item span.price {
      color: #666;
      font-weight: normal;
    }
    .content-slider .slider-item img {
      width: 100%;
    }
  
    .VoteCount{
      font-size:11.5px;
      color: #666;
      text-transform: uppercase;
      font-weight: normal;
    }
  
    .VoteCountContainer a{
      text-decoration: none;
    }
  
    .VoteCountContainer{
      position: absolute;
      padding: 1rem 9rem;
    }

    /* Choose File -------------------------------------------------------*/

    .foo {
        display: block;
        position: relative;
        width: 251px;
        margin: auto auto 2rem auto;
        cursor: pointer;
        border: 0;
        height: 60px;
        border-radius: 5px;
        outline: 0;
    }
    .foo:hover:after {
        background: #e50000;
    }
    .foo:after {
        transition: 200ms all ease;
        border-bottom: 3px solid rgba(0,0,0,.2);
        background: #ff3232;
        text-shadow: 0 2px 0 rgba(0,0,0,.2);
        color: #fff;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: 'Upload Picture';
        line-height: 60px;
        border-radius: 5px;
    }