.homeContainer {
    display: flex;
    height: 85vh; /* viewport height - header - footer */
    border-top-style: solid;
    border-top-color: #ffffff; /* white */
 


    background-color: #e1231a;
    background-repeat: no-repeat;


}

.homeSection {
    /* background-color: #e1231a; red */
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff; /* white */
    font-family: 'Roboto', sans-serif;
}

.homeSection h1 {
    font-size: 6rem;
}

.homeSection h1 span {
    font-size: 5rem;
}

.loginSection {
    /* background-color: #e8e8e8; grey */



    
    background: /*linear-gradient(
        rgb(2, 0, 0),
        rgba(0, 0, 0, 0.3)), */
      url("/images/toronto-skyline-outline-silhouette.jpg");
      background-position: bottom left;
      background-repeat: no-repeat;
  
    


    border-bottom: 2px solid #e1231a;
    
  
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
