.userCard{
    width: 98%;
    margin: 1%;
    padding: 1rem;
}

@media only screen and (min-width: 600px) {
    .userCard {
        width: 48%;
    }
}

@media only screen and (min-width: 960px) {
    .userCard {
        width: 31%;
    }
}

.userImage img {
    width: 100%;
}

.viewButton {
    text-align: center;
}
