.login {
    align-items: center;
    justify-content: center;
    background: transparent;
  }
  
  .login .cardContainer {
    width: 515px;
    max-width: 95%;
    min-width: 320px;
    margin: 0 auto;
    padding:3rem;
  }
  
  .login .formContainer {
    padding: 3.25rem;
  }
  
  .login .logo {
    margin-bottom: 1rem;
    margin-top: -97px;
    position: relative;
    z-index: 1000;
  }

  .login-button-bar{
      width:30%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  }

  .loginButton{
      display: flex;
      align-items: flex-start;
      margin: 2rem 0.5rem 0 0;
  }

  .signUpButton{
    display: flex;
    align-items: flex-end;
    margin-top:2rem;
    }

  .loginButton, .signUpButton {
    /* margin-top: 1rem; */
  }
  
  .login .textField {
    width: 100%!important;
  }