.header-buttons{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin-top:-5.5rem; */
}

.header-profile-button{
    /* margin: 5rem 0; */
}

.header-signin-button{
    /* margin: 5rem 0; */
}

  .hide{
      display: none;
  }



  .profileButton{
      display: flex;
      justify-content: flex-end;
  }


  .profileButton a:link {

    text-decoration:none;
 
}

  .headerButtons{
      display: flex;
  }

