.appProfileContent {
  /*display: flex;
  flex-direction: column;
  min-height: 100%;*/
  background-color: #e1231a;
  border-top: 2px solid white;
}

.appProfile {
  /*display: flex;
  flex-grow: 1;*/

  /*margin: 0 auto;
  max-width: 71rem;
  width: 100%;*/
  margin: 0 10% 0 10%;


  /*justify-content: center;*/
}
